{% extends "layouts/base.html" %}

{% block title %} Template {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
    <!-- First Row -Charts -->
    <div class="row mt-2">
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-primary shadow-primary position-relative">
                <div class="card-body text-primary text-center">
                    <a href="{{ url_for('supply_blueprint.restaurant') }}"><h4 class="stretched-link mb-0">Restaurant Supply</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-secondary shadow-secondary position-relative">
                <div class="card-body text-center">
                    <a href="{{ url_for('supply_blueprint.kitchen') }}"><h4 class="stretched-link mb-0">Kitchen Supply</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-danger shadow-danger position-relative">
                <div class="card-body text-center">
                    <a href="{{ url_for('supply_blueprint.cleaning') }}"><h4 class="stretched-link mb-0">Cleaning Supply</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-warning shadow-warning position-relative">
                <div class="card-body text-center">
                    <a href="{{ url_for('supply_blueprint.catering') }}"><h4 class="stretched-link mb-0">Catering Supply</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-success shadow-success position-relative">
                <div class="card-body text-center">
                    <a href="{{ url_for('supply_blueprint.bar') }}"><h4 class="stretched-link mb-0">Bar Supply</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-1">
            <div class="card bg-info shadow-info position-relative">
                <div class="card-body text-center">
                    <a href="{{ url_for('supply_blueprint.smallware') }}"><h4 class="stretched-link mb-0">Smallwares</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-body shadow-secondary">
                    <h4 class="mb-0 ">Top 10 Products</h4>
                    <div class="table-responsive table-hover">
                        <table class="table-sm text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">TOTAL COST</th>
                                    <th scope="col">% OF TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, s in top_ten.iterrows() %}
                                <tr>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ s['Item'] }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(s['Cost']) }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "{:,.1f}%".format(s['percent']*100) }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h6>Past 30 Days</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-body shadow-secondary">
                    <h4 class="mb-0 ">Purchases per Restaurant</h4>
                    <div class="table-responsive table-hover">
                        <table class="table-sm text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">RESTAURANT</th>
                                    <th scope="col">TOTAL COST</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, s in top_ten_restaurant.iterrows() %}
                                <tr>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ s['Restaurant'] }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(s['Cost']) }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h6>Past 30 Days</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-body shadow-secondary">
                    <h4 class="mb-0 ">Purchases per Vendor</h4>
                    <div class="table-responsive table-hover">
                        <table class="table-sm text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">VENDOR</th>
                                    <th scope="col">TOTAL COST</th>
                                    <th scope="col">% OF TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, s in top_ten_vendor.iterrows() %}
                                <tr>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ s['Vendor'] }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(s['Cost']) }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "{:,.1f}%".format(s['percent']*100) }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h6>Past 30 Days</h6>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
