dashapp/*.db
*.sql
/output
/scripts
datarecovery.py
config.json

# Docker
Dockerfile
docker-compose.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
venv/
venv.bak/
dashapp/static/assets/js/core/bootstrap.bundle.min.old
dashapp/static/assets/js/core/bootstrap.min.old
