{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row mt-2">
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-primary position-relative">
                <div class="card-body text-center">
                    <h6>BEEF COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.beef') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(beef_costs) }}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-secondary position-relative">
                <div class="card-body text-center">
                    <h6>FOOD OTHER COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.foodother') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(foodother_costs) }}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-danger position-relative">
                <div class="card-body text-center">
                    <h6>PORK COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.pork') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(pork_costs) }}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-warning position-relative">
                <div class="card-body text-center">
                    <h6>POULTRY COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.poultry') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(poultry_costs) }}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-success position-relative">
                <div class="card-body text-center">
                    <h6>PRODUCE COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.produce') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(produce_costs) }}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="card shadow-info position-relative">
                <div class="card-body text-center">
                    <h6>SEAFOOD COSTS</h6>
                    <a href="{{ url_for('purchasing_blueprint.seafood') }}"><h4 class="stretched-link mb-0">{{ "${:,.0f}".format(seafood_costs) }}</h4></a>
                </div>
            </div>
        </div>
    </div>
    <!-- First Row -Charts -->
    <div class="row mt-2">
        <div class="col-lg-4 col-md-6 mt-2 mb-2">
            <div class="card h-100 shadow-primary">
                <div class="card-body">
                    <h4 class="mb-0 ">Top 10 Food Items Past 30 Days</h4>
                    <div class="table-responsive table-hover">
                        <table class="table-sm text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">TOTAL COST</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, s in top_ten.iterrows() %}
                                <tr>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ s['Item'] }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(s['Cost']) }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script>
    var ctx1 = document.getElementById("food-chart").getContext("2d");
    new Chart(ctx1, {
        type: "pie",
        data: {
            labels: {{ top_ten_items | safe }},
            datasets: [{
                label: "Food Costs",
                data: {{ top_ten_values | safe }},
                backgroundColor: [
                    'blue',
                    'indigo',
                    'purple',
                    'pink',
                    'red',
                    'cyan',
                    'orange',
                    'yellow',
                    'green',
                    'teal',
                ],
                borderColor: [
                    'blue',
                    'indigo',
                    'purple',
                    'pink',
                    'red',
                    'cyan',
                    'orange',
                    'yellow',
                    'green',
                    'teal',
                ],
                borderWidth: 1,
        }, ],
      },
        options: {
        responsive: true,
        plugins: {
            legend: {
                display: false,
            }
        },
    },
    });


</script>
{% endblock javascripts %}
