<aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-secondary"
    id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
            aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="" target="_blank">
            <img src="/static/assets/img/CA_Profile_light.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">{{ company_name }}</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="dropdown" style="text-align: center;">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownTable" data-bs-toggle="dropdown", data-bs-auto-close="false">Select Stores</button>
        <ul class="dropdown-menu ms-1" aria-labelledby="dropdownTable">
        <form method="POST" action="" style="text-align:left">
            {{ form3.hidden_tag() }}
            <fieldset id="" class="form-group mb-0">
                <div class="form-group mb-1 text-white">
                    {{ form3.stores.label(class="form=control-label") }}
                    {% if form3.stores.errors %}
                        {{ form3.stores(class="form=control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form3.stores.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.stores(class="form=control form-control-md") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="text-align: center;">
                {{ form3.submit3(class="btn btn-info btn-sm col-0") }}
            </div>
        </form>
        </ul>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="dropdown" style="text-align: center;">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Purchasing</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item font-weight-bold text-primary" href="/purchasing/">Food</a></li>
            <li><a class="dropdown-item" href="/purchasing/beef">Beef</a></li>
            <li><a class="dropdown-item" href="/purchasing/dairy">Dairy</a></li>
            <li><a class="dropdown-item" href="/purchasing/foodother">Food Other</a></li>
            <li><a class="dropdown-item" href="/purchasing/pork">Pork</a></li>
            <li><a class="dropdown-item" href="/purchasing/poultry">Poultry</a></li>
            <li><a class="dropdown-item" href="/purchasing/produce">Produce</a></li>
            <li><a class="dropdown-item" href="/purchasing/seafood">Seafood</a></li>
            <li><a class="dropdown-item" href="/purchasing/beer">Beer</a></li>
            <li><a class="dropdown-item" href="/purchasing/wine">Wine</a></li>
            <li><a class="dropdown-item" href="/purchasing/liquor">Liquor</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
        </ul>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto max-height-vh-40" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white {% if 'index' in segment %} active bg-gradient-primary {% endif %}"
                    href="/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">dashboard</i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if 'profile' in segment %} active bg-gradient-primary {% endif %}"
                    href="/profile">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li>
            {% for x in current_user.roles %}
            {% if x == 'admin' %}
            <li class="nav-item">
                <a class="nav-link text-white {% if 'support' in segment %} active bg-gradient-primary {% endif %}"
                    href="/support">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">support_agent</i>
                    </div>
                    <span class="nav-link-text ms-1">Support Page</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if 'admin' in segment %} active bg-gradient-primary {% endif %}"
                    href="/admin">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">admin_panel_settings</i>
                    </div>
                    <span class="nav-link-text ms-1">Admin Page</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">directions_run</i>
                    </div>
                    <span class="nav-link-text ms-1">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div>
        <p class="text-white text-center mt-1 mb-1">Week - {{ fiscal_dates["week"] }}</p>
        <p class="text-white text-center mt-1 mb-1">Period - {{ fiscal_dates["period"] }}</p>
        <p class="text-white text-center mt-1 mb-1">Year - {{ fiscal_dates["year"] }}</p>
    </div>
    <li>
        <form method="POST" action="" style="text-align:center">
            {{ form1.hidden_tag() }}
            <fieldset id="" class="form-group mb-1">
                <div class="form-group mb-1">
                    {{ form1.selectdate.label(class="form=control-label") }}
                    {% if form1.selectdate.errors %}
                    {{ form1.selectdate(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.selectdate.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form1.selectdate(class="form=control form-control-md") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form1.submit1(class="btn btn-info btn-sm") }}
            </div>
        </form>
    </li>
</aside>
