<p>{{ _fsdomain('Welcome %(email)s!', email=user.email) }}</p>

<p>Your password for the CentraArchy Dashboard is being reset.  The below link will open the password reset page for you to enter a secure password.
After you enter and confirm your new password, you may sign into the CentraArchy Dashboard.
</p>
<div>
<p><a href="{{ reset_link }}">{{ _fsdomain('Click here to reset your password') }}</a></p>
</div>

<h6> This email is intended for employees of CentraArchy RMC only.  If you received this email in error, please delete.</h6>
<p>CentraArchy Support</p>
