{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
        <!-- giftcard chart -->
      <div class="col-lg-6 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-giftcard" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table text-begin mb-0">
                <thead>
                  <th scope="row">GC SALES AND PAYMENTS</th>
                    <tr>
                      <th scope="col">STORE</th>
                      <th scope="col">COUNT</th>
                      <th scope="col">SALES</th>
                      <th scope="col">PAYMENTS</th>
                      <th scope="col">DIFFERENCE</th>
                    </tr>
                </thead>
                <tbody>
                  {% for k, v in gift_card_sales.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1">{{ "{:,.0f}".format(v.quantity) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1">{{ "${:,.0f}".format(v.amount) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1">{{ "${:,.0f}".format(v.payment) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1">{{ "${:,.0f}".format(v['diff']) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx0 = document.getElementById("chart-giftcard").getContext("2d");
    new Chart(ctx0, {
      type: "bar",
      data: {
        labels: {{ period_order | safe }},
        datasets: [{
          label: "BALANCE",
          tension: 0,
          borderWidth: 5,
          borderRadius: 5,
          borderColor: "rgba(100, 100, 100, 1)",
          pointBackgroundColor: "rgba(100, 100, 100, 1)",
          pointBorderColor: "transparent",
          backgroundColor: "rgba(100, 100, 100, 1)",
          fill: false,
          data: {{ giftcard_diff | safe }},
          type: "line"
        },{
          label: "GC SALES",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: {{ giftcard_sales | safe }},
          stack: 'Stack 0'
        },{
          label: "GC PAYMENTS",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(200, 200, 200, .8)",
          data: {{ giftcard_payments | safe }},
          stack: 'Stack 0'
        } ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff",
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });

  </script>
{% endblock javascripts %}
