{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
        <!-- Gift Cards -->
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header bg-primary pb-0">
              {% for x in fiscal_dates %}
              <h4>GIFT CARD SALES PERIOD {{ x.period }}, {{ x.year }}</h4>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE</th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in gift_card_sales.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v.quantity) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(v.amount) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- porterhouse feast -->
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header bg-success pb-0">
              {% for x in fiscal_dates %}
              <h4>PORTERHOUSE FEAST SALES PERIOD {{ x.period }}, {{ x.year }}</h4>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE</th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in porterhouse_feast.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v.quantity) }}</p>
                          <p class="mb-0 ms-1 text-begin">{{ v.menuitem }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(v.amount) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
