{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
        <!-- Gift Cards -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-primary pb-0">
              {% for x in fiscal_dates %}
              <h4>GIFT CARD SALES PERIOD {{ x.period }}, {{ x.year }}</h4>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE</th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in gift_card_sales.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v.quantity) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(v.amount) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- lent feast -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-warning pb-0">
              {% for x in fiscal_dates %}
              <h4>LENT FISH FEATURES</h4>
              <h5>March 2 - April 17</h5>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row">BLACKENED MAHI SANDWICH</th>
                    {% for k, v in black_mahi.iterrows() %}
                      <tr>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.store }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v['count']) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.sales) }}</p>
                        </td>
                      </tr>
                    {% endfor %}
                  <th scope="row">CRISPY FLOUNDER SANDWICH</th>
                    {% for k, v in crispy_flounder.iterrows() %}
                      <tr>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.store }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v['count']) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.sales) }}</p>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- fish fryday feast -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-info pb-0">
              <h4>FISH FRYDAY SALES</h4>
              <h5>March 2 - April 17</h5>
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE</th>
                    <th scope="col">MENUITEM</th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in fish_fryday.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.menuitem }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v['count']) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.sales) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
