{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" 
           style="background-image: url('/static/assets/img/Fire_tablet_HomeScreen_image.png');">
        <span class="mask  bg-gradient-secondary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="/static/assets/img/default_user.jpeg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ current_user.email }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">Confirmed: {{ current_user.confirmed_at }}</p>
              <p class="mb-0 font-weight-bold text-sm">Last Login: {{ current_user.last_login_at }}</p>
              <p class="mb-0 font-weight-bold text-sm">Login IP: {{ current_user.last_login_ip }}</p>
              <p class="mb-0 font-weight-bold text-sm">Login Count: {{ current_user.login_count }}</p>
              <p class="mb-0 font-weight-normal text-sm">
                <a class="btn btn-info" href="/change" role="button">Change Password</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
