{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row mb-4">
      <!-- lobster cost -->
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header bg-primary pb-0">
            {% for x in fiscal_dates %}
            <h4>CURRENT LOBSTER COSTS FROM {{ x.date }}</h4>
            {% endfor %}
          </div>
          <div class="card">
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">LOBSTER</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in lobster_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <!-- stone cost -->
      <div class="col-lg-6 col-md-4">
        <div class="card">
          <div class="card-header bg-warning pb-0">
            {% for x in fiscal_dates %}
            <h4>CURRENT STONE CLAW COSTS FROM {{ x.date }}</h4>
            {% endfor %}
          </div>
          <div class="card">
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">CLAW</th>
                  <th scope="col">CHNO</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in stone_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE-NOLA']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
        <!-- steak cost -->
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header bg-info pb-0">
            {% for x in fiscal_dates %}
            <h4>CURRENT PRIME STEAK COSTS FROM {{ x.date }}</h4>
            {% endfor %}
          </div>
          <div class="card">
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STEAK</th>
                  <th scope="col">CHNO</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in steak_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE-NOLA']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <!-- sea bass cost -->
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header bg-success pb-0">
            {% for x in fiscal_dates %}
            <h4>SEA BASS COST FROM {{ x.date }}</h4>
            {% endfor %}
          </div>
          <div class="card">
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                  <th scope="col">PORTION COST</th>
                  <th scope="col">SUG. PRICE</th>
                </tr>
              </thead>
              <tbody>
                {% for v in sea_bass %}
                  <tr>
                    <th scope="row">{{ v.name }}</th>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                      </td>
                      {% if v.UofM == 'Portion (9 oz-wt)' %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(0.5625)) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)/0.4) | round) - 0.05 }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.4) | round) - 0.05 }}</p>
                      </td>
                      {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
      <!-- U10 Shrimp cost -->
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header bg-secondary pb-0">
            {% for x in fiscal_dates %}
            <h4>U10 SHRIMP COST FROM {{ x.date }}</h4>
            {% endfor %}
          </div>
          <div class="card">
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in shrimp_items.iterrows() %}
                  <tr>
                    <th scope="row">{{ v.store }}</th>
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                      </td>
                      {% if v.UofM == 'Case - 10/Pack (5 LB)' %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.amount/v.quantity)/50.0) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.amount/v.quantity) }}</p>
                      </td>
                      {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
