{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row mb-4">
        <!-- steak cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-info pb-0">
            {% for x in fiscal_dates %}
            <h4>PRIME STEAK COSTS</h4>
            <h6>Most recent purchase in the last 30 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STEAK</th>
                  <th scope="col">CHNO</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in steak_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                      {% if 'CHOPHOUSE-NOLA' in steak_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE-NOLA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                      {% if 'CHOPHOUSE 47' in steak_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                      {% if 'NYP-ATLANTA' in steak_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                      {% if 'NYP-MYRTLE BEACH' in steak_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                      {% if 'NYP-BOCA' in steak_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <!-- lobster cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-primary pb-0">
            {% for x in fiscal_dates %}
            <h4>LOBSTER COSTS</h4>
            <h6>Most recent purchase in the last 30 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
            <div class="table-responsive table-hover">
              <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">LOBSTER</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in lobster_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                    {% if 'CHOPHOUSE 47' in lobster_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-ATLANTA' in lobster_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-MYRTLE BEACH' in lobster_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-BOCA' in lobster_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- stone cost -->
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <div class="card-header bg-warning pb-0">
            {% for x in fiscal_dates %}
            <h4>STONE CLAW COSTS</h4>
            <h6>Most recent purchase in the last 30 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
          <div class="table-responsive table-hover">
            <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">CLAW</th>
                  <th scope="col">CHNO</th>
                  <th scope="col">CH47</th>
                  <th scope="col">NYP-ATL</th>
                  <th scope="col">NYP-MB</th>
                  <th scope="col">NYP-BOCA</th>
                </tr>
              </thead>
              <tbody>
                <!-- TODO add these if statements to rest of tables -->
                {% for k, v in stone_df.iterrows() %}
                  <tr>
                    <th scope="row">{{ v['item'] }}</th>
                    {% if 'CHOPHOUSE-NOLA' in stone_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE-NOLA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'CHOPHOUSE 47' in stone_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['CHOPHOUSE 47']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-ATLANTA' in stone_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-ATLANTA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-MYRTLE BEACH' in stone_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-MYRTLE BEACH']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                    {% if 'NYP-BOCA' in stone_df %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v['NYP-BOCA']) }}</p>
                      </td>
                      {% else %}
                      <td>
                        <p class="mb-0 ms-1 text-begin">${{ 0.00 }}</p>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- sea bass cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-success pb-0">
            {% for x in fiscal_dates %}
            <h4>SEA BASS COST</h4>
            <h6>Most recent purchase in the last 30 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
          <div class="table-responsive table-hover">
            <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                  <th scope="col">PORTION COST</th>
                  <th scope="col">SUG. PRICE</th>
                </tr>
              </thead>
              <tbody>
                {% for v in sea_bass %}
                  {% if v.count != 0 %}
                    <tr>
                      <th scope="row">{{ v.name }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                        </td>
                        {% if v.UofM == 'Portion (9 oz-wt)' %}
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(0.5625)) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)/0.4) | round) - 0.05 }}</p>
                        </td>
                        {% else %}
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.4) | round) - 0.05 }}</p>
                        </td>
                        {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <!-- U10 Shrimp cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-secondary pb-0">
            {% for x in fiscal_dates %}
            <h4>U10 SHRIMP COST</h4>
            <h6>Most recent purchase in the last 30 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
          <div class="table-responsive table-hover">
            <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in shrimp_items.iterrows() %}
                  <tr>
                  <th scope="row">{{ v.store }}</th>
                    <td>
                      <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                    </td>
                    {% if v.UofM == 'Case - 10/Pack (5 LB)' %}
                    <td>
                      <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.amount/v.quantity)/50.0) }}</p>
                    </td>
                    {% else %}
                    <td>
                      <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.amount/v.quantity) }}</p>
                    </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- salmon cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-primary pb-0">
            {% for x in fiscal_dates %}
            <h4>SALMON COST</h4>
            <h6>Most recent purchase in the last 7 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
          <div class="table-responsive table-hover">
            <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                  <th scope="col">8oz COST</th>
                </tr>
              </thead>
              <tbody>
                {% for v in salmon %}
                  {% if v.count != 0 %}
                    <tr>
                      <th scope="row">{{ v.name }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                        </td>
                        {% if (v.UofM == 'Case - 22 LBS') or (v.UofM == 'Case (22 LB)') or (v.UofM == 'Case (22 LBS)') %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)*(0.5)) }}</p>
                          </td>
                        {% else %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5)) }}</p>
                          </td>
                        {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- feature fish cost -->
      <div class="col-lg-4 col-md-3">
        <div class="card">
          <div class="card-header bg-info pb-0">
            {% for x in fiscal_dates %}
            <h4>FEATURE FISH COST</h4>
            <h6>Most recent purchase in the last 7 days from {{ x.day }}, {{ x.date }}</h6>
            {% endfor %}
          </div>
          <div class="table-responsive table-hover">
            <table class="table-sm text-dark">
              <thead>
                <tr>
                  <th scope="col">STORE</th>
                  <th scope="col">UofM</th>
                  <th scope="col">COST/LB</th>
                  <th scope="col">9oz COST</th>
                </tr>
              </thead>
              <tbody>
                {% for v in feature %}
                  {% if v.count != 0 %}
                    <tr>
                      <th scope="row">{{ v.name }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                        </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                          </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
