{% extends "layouts/base.html" %}

{% block title %} {{ store_name }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">{{ fiscal_dates["date"] }}</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(sales_day) }}</h4>
              </div>
          </div>
          <hr class="dark horizontal my-0">
          {% if sales_day >= sales_day_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_day - sales_day_ly) / sales_day_ly) * 100) }} - {{ "${:,.0f}".format(sales_day_ly) }}</span> SDLY</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_day - sales_day_ly)|abs / sales_day_ly) * 100) }} - {{ "${:,.0f}".format(sales_day_ly) }}</span> SDLY</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Week {{ fiscal_dates["week"] }} Sales</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(sales_week) }}</h4>
              </div>
          </div>
          <hr class="dark horizontal my-0">
            {% if sales_week >= sales_week_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_week - sales_week_ly) / sales_week_ly) * 100) }} - {{ "${:,.0f}".format(sales_week_ly) }}</span> WTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_week - sales_week_ly)|abs / sales_week_ly) * 100) }} - {{ "${:,.0f}".format(sales_week_ly) }}</span> WTD</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Period {{ fiscal_dates["period"] }} Sales</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(sales_period) }}</h4>
              </div>
          </div>
          <hr class="dark horizontal my-0">
            {% if sales_period >= sales_period_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_period - sales_period_ly) / sales_period_ly) * 100) }} - {{ "${:,.0f}".format(sales_period_ly) }}</span> PTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_period - sales_period_ly)|abs / sales_period_ly) * 100) }} - {{ "${:,.0f}".format(sales_period_ly) }}</span> PTD</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Fiscal {{ fiscal_dates["year"] }} Sales</p>
                <h4 class="mb-0"> {{ "${:,.0f}".format(sales_year) }}</h4>
              </div>
          </div>
          <hr class="dark horizontal my-0">
            {% if sales_year >= sales_year_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_year - sales_year_ly) / sales_year_ly) * 100) }} - {{ "${:,.0f}".format(sales_year_ly) }}</span> YTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((sales_year - sales_year_ly)|abs / sales_year_ly) * 100) }} - {{ "${:,.0f}".format(sales_year_ly) }}</span> YTD</p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    <!-- Second Row -Charts -->
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-wtd" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
              <h6 class="mb-0 ">Week to Date Sales</h6>
            {% if sales_week > sales_week_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_week - sales_week_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_week - sales_week_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-ptd" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
              <h6 class="mb-0 ">Period to Date Sales</h6>
            {% if sales_period > sales_period_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_period - sales_period_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_period - sales_period_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-ytd" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
              <h6 class="mb-0 ">Year to Date Sales</h6>
            {% if sales_year > sales_year_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_year - sales_year_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(sales_year - sales_year_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-primary pb-0">
              <h4>STEAK ORDER</h4>
            </div>
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">STEAK</th>
                      <th scope="col">UofM</th>
                      <th scope="col">LAST YEAR</th>
                      <th scope="col">LAST WEEK</th>
                      <th scope="col">AVG/DAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for k, v in steak_order.iterrows() %}
                        <tr>
                          <th scope="row">{{ k[0] }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ k[1] }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v['last_year'] }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v['last_week'] }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format((v['last_week'])/7) }}</p>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header bg-success pb-0">
            <h4>Top Price Increase {{ fiscal_dates["date"] }}</h4>
          </div>
            <div class="table-responsive">
              <table class="table-sm">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">UofM</th>
                    <th scope="col">Inv Cost</th>
                    <th scope="col">Current Cost</th>
                    <th scope="col">% Change</th>
                  </tr>
                </thead>
                <tbody>
                    {% for k, v in price_increase.iterrows() %}
                  <tr>
                      <td>
                        <p class="mb-0 ms-1">{{ v['item'] }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ v.UofM }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "${:,.2f}".format(v.inv_cost * v.base_qty) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "${:,.2f}".format(v.current_cost * v.base_qty) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "{:,.1f}%".format(v.pct_diff) }}</p>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header bg-info pb-0">
            <h4>Top Price Decrease {{ fiscal_dates["date"] }}</h4>
          </div>
            <div class="table-responsive">
              <table class="table-sm">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">UofM</th>
                    <th scope="col">Inv Cost</th>
                    <th scope="col">Current Cost</th>
                    <th scope="col">% Change</th>
                  </tr>
                </thead>
                <tbody>
                    {% for k, v in price_decrease.iterrows() %}
                  <tr>
                      <td>
                        <p class="mb-0 ms-1">{{ v['item'] }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ v.UofM }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "${:,.2f}".format(v.inv_cost * v.base_qty) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "${:,.2f}".format(v.current_cost * v.base_qty) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1">{{ "{:,.1f}%".format(v.pct_diff) }}</p>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header bg-secondary pb-0" style="text-align:center">
              <h4>POTATO LOADING CHART</h4>
            </div>
            <div class="card">
              <form method="POST" action="" style="text-align:center">
                <h6>Click Submit to generate a potato loading chart</h6>
                    {{ form4.hidden_tag() }}
                    <fieldset id="" class="form-group mb-0">
                        <div class="form-group mb-1">
                            {{ form4.store.label(class="form=control-label") }}
                            {% if form4.store.errors %}
                            {{ form4.store(class="form=control form-control-md is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form4.store.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form4.store(class="form=control form-control-md") }}
                            {% endif %}
                        </div>
                    </fieldset>
                <div class="form-group">
                  {{ form4.submit4(class="btn btn-info") }}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- DO NOT USE -->
        <div class="col-lg-3">
          <div class="card h-100">
            <div class="card-header bg-warning pb-0">
              <h4>"DO NOT USE" ITEMS</h4>
              <h6>Remove from inventory template</h6>
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">ITEM</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in do_not_use.iterrows() %}
                    <tr>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.menuitem }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row mb-4">
    <!-- scorecard -->
    </div><!-- row -->
    <div class="row mb-4">
      {% if concept == 'steakhouse' %}
      <!-- lobster cost -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-primary pb-0">
              <h4>LIVE LOBSTER SUGGESTED MENU PRICE</h4>
              <h4>AVERAGE COST LAST 30 DAYS {{ "${:,.2f}".format(live_lobster_avg_cost) }}</h4>
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm text-align">
                  <thead>
                    <tr>
                      <th scope="col">SIZE</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">MENU PRICE @ 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in lobster_items["lobster_sizes"] %}
                      <tr>
                        <th scope="row">{{ v.item }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-end">{{ "${:,.2f}".format(live_lobster_avg_cost*v.factor) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-end">${{ (((live_lobster_avg_cost*v.factor)/0.4) | round) }}</p>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- stone cost -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-danger pb-0">
              <h4>STONE CLAW SUGGESTED MENU PRICE</h4>
              <h4>AVERAGE COST LAST 30 DAYS {{ "${:,.2f}".format(stone_claw_avg_cost) }}</h4>
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm text-align">
                  <thead>
                    <tr>
                      <th scope="col">SIZE</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">MENU PRICE @ 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in stone_items["stone_sizes"] %}
                      <tr>
                        <th scope="row">{{ v.item }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-end">{{ "${:,.2f}".format(stone_claw_avg_cost*v.factor) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-end">${{ (((stone_claw_avg_cost*v.factor)/0.4) | round) }}</p>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- seabass cost -->
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header bg-secondary pb-0">
              <h4>SEA BASS LAST 5 PURCHASES</h4>
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm text-align">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/UofM</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">MENU PRICE @ 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in sea_bass %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          {% if v.UofM == 'Portion (9 oz-wt)' %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)/0.4) | round) - 0.05 }}</p>
                          </td>
                          {% else %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.4) | round) - 0.05 }}</p>
                          </td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div><!-- row -->
    <div class="row mb-4">
      {% if concept == 'casual' %}
        <!-- salmon cost -->
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <div class="card-header bg-primary pb-0">
              <h4>SALMON LAST 5 PURCHASES</h4>
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">8oz COST</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in salmon %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          {% if (v.UofM == 'Case - 22 LBS') or (v.UofM == 'Case (22 LB)') or (v.UofM == 'Case (22 LBS)') %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)*(0.5)) }}</p>
                          </td>
                          {% else %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5)) }}</p>
                          </td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- feature fish cost -->
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <div class="card-header bg-info pb-0">
              <h4>FEATURE FISH LAST 5 PURCHASES</h4>
            </div>
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">9oz COST</th>
                      <th scope="col">SUG. PRICE 32%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in feature %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.32) | round) - 0.05 }}</p>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      {% endif %}
    </div><!-- row -->
    </div><!-- row -->

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-wtd").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["W", "T", "F", "S", "S", "M", "T"],
        datasets: [{
          label: "Daily Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: {{ daily_sales_list | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ daily_sales_list_ly | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
              color: "#fff",
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-ptd").getContext("2d");

    new Chart(ctx2, {
      type: "bar",
      data: {
        labels: ["W1", "W2", "W3", "W4"],
        datasets: [{
          label: "Weekly Sales",
          tension: 0.4,
          borderWidth: 0,
          backgroundcolor: "rgba(255, 255, 255, .8)",
          pointradius: 5,
          pointbackgroundcolor: "rgba(255, 255, 255, .8)",
          pointbordercolor: "transparent",
          bordercolor: "rgba(255, 255, 255, .8)",
          bordercolor: "rgba(255, 255, 255, .8)",
          borderwidth: 4,
          fill: true,
          data: {{ weekly_sales_list | safe }},
          maxbarthickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderwidth: 0,
          pointradius: 5,
          pointbackgroundcolor: "rgba(255, 255, 255, .8)",
          pointbordercolor: "transparent",
          bordercolor: "rgba(255, 255, 255, .8)",
          bordercolor: "rgba(255, 255, 255, .8)",
          borderwidth: 4,
          type: "bar",
          backgroundcolor: "transparent",
          fill: true,
          data: {{ weekly_sales_list_ly | safe }},
          maxbarthickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-ytd").getContext("2d");
    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10", "P11", "P12", "P13"],
        datasets: [{
          label: "Period Sales",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ period_sales_list | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ period_sales_list_ly | safe }},
          maxBarThickness: 6
        }, {
          label: "budget",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(100, 100, 100, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(100, 100, 100, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ budgets3 | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx4 = document.getElementById("chart-supplies").getContext("2d");
    new Chart(ctx4, {
      type: "line",
      data: {
        labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10", "P11", "P12", "P13"],
        datasets: [{
          label: "Total Supply Costs",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ supply_cost_dol | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ supply_cost_dol_ly | safe }},
          maxBarThickness: 6
        }, {
          label: "budget",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(100, 100, 100, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(100, 100, 100, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ supply_budget | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx5 = document.getElementById("chart-smallwares").getContext("2d");
    new Chart(ctx5, {
      type: "line",
      data: {
        labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10", "P11", "P12", "P13"],
        datasets: [{
          label: "Total Smallware Costs",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ smallware_cost_dol | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(175, 175, 175, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ smallware_cost_dol_ly | safe }},
          maxBarThickness: 6
        }, {
          label: "budget",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(100, 100, 100, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(100, 100, 100, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ smallware_budget | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx6 = document.getElementById("chart-linen").getContext("2d");
    new Chart(ctx6, {
      type: "line",
      data: {
        labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10", "P11", "P12", "P13"],
        datasets: [{
          label: "Total Linen Costs",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ linen_cost_dol | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ linen_cost_dol_ly | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}
