{% extends "layouts/base.html" %}

{% block title %} {{ store_name }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              {% for x in fiscal_dates %}
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">{{ x.day }}, {{ x.date }}</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(daily_table.net_sales) }}</h4>
              </div>
              {% endfor %}
          </div>
          <hr class="dark horizontal my-0">
          {% if daily_table.net_sales >= daily_table.net_sales_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((daily_table.net_sales - daily_table.net_sales_ly) / daily_table.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(daily_table.net_sales_ly) }}</span> SDLY</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((daily_table.net_sales - daily_table.net_sales_ly)|abs / daily_table.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(daily_table.net_sales_ly) }}</span> SDLY</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              {% for x in fiscal_dates %}
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Week {{ x.week }} Sales</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(weekly_totals.net_sales) }}</h4>
              </div>
              {% endfor %}
          </div>
          <hr class="dark horizontal my-0">
            {% if weekly_totals.net_sales >= weekly_totals.net_sales_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((weekly_totals.total_sales - weekly_totals.total_sales_ly) / weekly_totals.total_sales_ly) * 100) }} - {{ "${:,.0f}".format(weekly_totals.total_sales_ly) }}</span> WTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((weekly_totals.total_sales - weekly_totals.total_sales_ly)|abs / weekly_totals.total_sales_ly) * 100) }} - {{ "${:,.0f}".format(weekly_totals.total_sales_ly) }}</span> WTD</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              {% for x in fiscal_dates %}
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Period {{ x.period }} Sales</p>
                <h4 class="mb-0">{{ "${:,.0f}".format(period_totals.net_sales) }}</h4>
              </div>
              {% endfor %}
          </div>
          <hr class="dark horizontal my-0">
            {% if period_totals.net_sales >= period_totals.net_sales_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((period_totals.net_sales - period_totals.net_sales_ly) / period_totals.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(period_totals.net_sales_ly) }}</span> PTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((period_totals.net_sales - period_totals.net_sales_ly)|abs / period_totals.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(period_totals.net_sales_ly) }}</span> PTD</p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">paid</i>
            </div>
              {% for x in fiscal_dates %}
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Fiscal {{ x.year }} Sales</p>
                <h4 class="mb-0"> {{ "${:,.0f}".format(yearly_totals.net_sales) }}</h4>
              </div>
              {% endfor %}
          </div>
          <hr class="dark horizontal my-0">
            {% if yearly_totals.net_sales >= yearly_totals.net_sales_ly %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-up text-success" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((yearly_totals.net_sales - yearly_totals.net_sales_ly) / yearly_totals.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(yearly_totals.net_sales_ly) }}</span> YTD</p>
            </div>
            {% else %}
            <div class="card-footer p-3">
              <p class="mb-0"><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i><span class="text-sm font-weight-bolder">{{ "%{:,.0f}".format(((yearly_totals.net_sales - yearly_totals.net_sales_ly)|abs / yearly_totals.net_sales_ly) * 100) }} - {{ "${:,.0f}".format(yearly_totals.net_sales_ly) }}</span> YTD</p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    <!-- Second Row -Charts -->
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Week to Date Sales</h6>
            {% if weekly_totals.total_sales > weekly_totals.total_sales_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(weekly_totals.total_sales - weekly_totals.total_sales_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(weekly_totals.total_sales - weekly_totals.total_sales_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Period to Date Sales</h6>
            {% if period_totals.total_sales > period_totals.total_sales_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(period_totals.total_sales - period_totals.total_sales_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(period_totals.total_sales - period_totals.total_sales_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Year to Date Sales</h6>
            {% if yearly_totals.total_sales > yearly_totals.total_sales_ly %}
            <p class="text-sm "><i class="fa fa-arrow-up text-success" aria-hidden="true"></i>{{ "{:,.0f}".format(yearly_totals.total_sales - yearly_totals.total_sales_ly) }} over last year</p>
            {% else %}
            <p class="text-sm "><i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>{{ "{:,.0f}".format(yearly_totals.total_sales - yearly_totals.total_sales_ly) }} below last year</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- Food & Alcohol Sales -->
    <div class="row mb-4">
      <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              {% for x in fiscal_dates %}
                <div class="col-lg-6 col-7">
                  <h6>Week - {{ x.week }}</h6>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-primary" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">FOOD</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(weekly_totals.food) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(weekly_cogs['Beef'] + weekly_cogs['Dairy'] + weekly_cogs['Food Other'] + weekly_cogs['Produce'] + weekly_cogs['Pork'] + weekly_cogs['Poultry'] + weekly_cogs['Seafood']) }}</p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format((weekly_cogs['Beef'] + weekly_cogs['Dairy'] + weekly_cogs['Food Other'] + weekly_cogs['Produce'] + weekly_cogs['Pork'] + weekly_cogs['Poultry'] + weekly_cogs['Seafood'])/weekly_totals['food'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-success" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">BEER</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(weekly_totals.beer) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(weekly_cogs['Beer']) }} </p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format(weekly_cogs['Beer']/weekly_totals['beer'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-info" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">LIQUOR</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(weekly_totals.liquor) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(weekly_cogs['Liquor']) }} </p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format(weekly_cogs['Liquor']/weekly_totals['liquor'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-warning" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">WINE</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(weekly_totals.wine) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(weekly_cogs['Wine']) }} </p>
                    <p class="card-text-light font-weight-bold">COST %- {{ "{:.1f}%".format(weekly_cogs['Wine']/weekly_totals['wine'] * 100) }} </p>
                  </div>
              </div>
            </div>
          </div><!-- row -->
          <div class="card-header pb-0">
            <div class="row">
              {% for x in fiscal_dates %}
              <div class="col-lg-6 col-7">
                <h6>Period - {{ x.period }}</h6>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-primary" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">FOOD</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(period_totals.food) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(period_cogs['Beef'] + period_cogs['Dairy'] + period_cogs['Food Other'] + period_cogs['Produce'] + period_cogs['Pork'] + period_cogs['Poultry'] + period_cogs['Seafood']) }}</p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format((period_cogs['Beef'] + period_cogs['Dairy'] + period_cogs['Food Other'] + period_cogs['Produce'] + period_cogs['Pork'] + period_cogs['Poultry'] + period_cogs['Seafood'])/period_totals['food'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-success" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">BEER</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(period_totals.beer) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(period_cogs['Beer']) }} </p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format(period_cogs['Beer']/period_totals['beer'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-info" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">LIQUOR</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(period_totals.liquor) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(period_cogs['Liquor']) }} </p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format(period_cogs['Liquor']/period_totals['liquor'] * 100) }} </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-md-0">
              <div class="card text-white bg-warning" style"max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">WINE</h5>
                    <p class="card-text-light font-weight-bold">SALES - {{ "${:,.0f}".format(period_totals.wine) }}</p>
                    <p class="card-text-light font-weight-bold">PURCHASES - {{ "${:,.0f}".format(period_cogs['Wine']) }} </p>
                    <p class="card-text-light font-weight-bold">COST % - {{ "{:.1f}%".format(period_cogs['Wine']/period_totals['wine'] * 100) }} </p>
                  </div>
              </div>
            </div>
          </div>
        </div><!-- card header -->
      </div><!-- card -->
      <!-- scorecard -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Labor Scorecard</h6>
            <p class="text-sm">
              <span class="font-weight-bold"></span>
            </p>
          </div>
          <div class="alert alert-success" role="alert">
            {% for x in fiscal_dates %}
              <h4 class="alert-heading text-light">Week-{{ x.week }} Labor</h4>
            {% endfor %}
            <div class="table-responsive table-hover">
              <table class="table-sm text-light">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">BAR</th>
                    <th scope="col">HOST</th>
                    <th scope="col">SERVER</th>
                    <th scope="col">KITCHEN</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th scope="row">DOLLARS</th>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(weekly_totals.Bar) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(weekly_totals.Host) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(weekly_totals.Restaurant) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(weekly_totals.Kitchen) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(weekly_totals.Total_Labor) }}</p>
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">PERCENT</th>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((weekly_totals.Bar / weekly_totals.alcohol_sales) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((weekly_totals.Host / weekly_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((weekly_totals.Restaurant / weekly_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((weekly_totals.Kitchen / weekly_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((weekly_totals.Total_Labor / weekly_totals.total_sales) * 100) }}</p>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="alert alert-info" role="alert">
            {% for x in fiscal_dates %}
              <h4 class="alert-heading text-light">Period-{{ x.period }} Labor</h4>
            {% endfor %}
            <div class="table-responsive table-hover">
              <table class="table-sm text-light">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">BAR</th>
                    <th scope="col">HOST</th>
                    <th scope="col">SERVER</th>
                    <th scope="col">KITCHEN</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th scope="row">DOLLARS</th>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(period_totals.Bar) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(period_totals.Host) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(period_totals.Restaurant) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(period_totals.Kitchen) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "${:,.0f}".format(period_totals.Total_Labor) }}</p>
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">PERCENT</th>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((period_totals.Bar / period_totals.alcohol_sales) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((period_totals.Host / period_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((period_totals.Restaurant / period_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((period_totals.Kitchen / period_totals.food) * 100) }}</p>
                      </td>
                      <td>
                        <p class="mb-0 ms-1 text-end">{{ "{:,.1f}%".format((period_totals.Total_Labor / period_totals.total_sales) * 100) }}</p>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- row -->
    <div class="row mb-4">
      {% if concept == 'steakhouse' %}
      <!-- lobster cost -->
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-header bg-success pb-0">
              {% for x in fiscal_dates %}
              <h4>LIVE LOBSTER SUGGESTED MENU PRICE</h4>
              {% endfor %}
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">LOBSTER</th>
                      <th scope="col">DATE</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">SUG. PRICE 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in lobster_items %}
                      <tr>
                        <th scope="row">{{ v.item }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.date }}</p>
                        </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.debit/v.quantity) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.debit/v.quantity)*(v.size/1)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.debit/v.quantity)*(v.size/1)/0.4) | round) - 0.05 }}</p>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- stone cost -->
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-header bg-warning pb-0">
              {% for x in fiscal_dates %}
              <h4>STONE CLAW SUGGESTED MENU PRICE</h4>
              {% endfor %}
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">CLAW</th>
                      <th scope="col">DATE</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">SUG. PRICE 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in stone_items %}
                      <tr>
                        <th scope="row">{{ v.item }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.date }}</p>
                        </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.debit/v.quantity) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.debit/v.quantity)*(v.size/16)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.debit/v.quantity)*(v.size/16)/0.4) | round) - 0.05 }}</p>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- seabass cost -->
        <div class="col-lg-6 col-md-4">
          <div class="card">
            <div class="card-header bg-secondary pb-0">
              {% for x in fiscal_dates %}
              <h4>SEA BASS LAST 5 PURCHASES</h4>
              {% endfor %}
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/UofM</th>
                      <th scope="col">PORTION COST</th>
                      <th scope="col">SUG. PRICE 40%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in sea_bass %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          {% if v.UofM == 'Portion (9 oz-wt)' %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)/0.4) | round) - 0.05 }}</p>
                          </td>
                          {% else %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.4) | round) - 0.05 }}</p>
                          </td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div><!-- row -->
    <div class="row mb-4">
      {% if concept == 'casual' %}
        <!-- salmon cost -->
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <div class="card-header bg-primary pb-0">
              {% for x in fiscal_dates %}
              <h4>SALMON LAST 5 PURCHASES</h4>
              {% endfor %}
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">8oz COST</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in salmon %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          {% if (v.UofM == 'Case - 22 LBS') or (v.UofM == 'Case (22 LB)') or (v.UofM == 'Case (22 LBS)') %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)/(22)*(0.5)) }}</p>
                          </td>
                          {% else %}
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5)) }}</p>
                          </td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- feature fish cost -->
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <div class="card-header bg-info pb-0">
              {% for x in fiscal_dates %}
              <h4>FEATURE FISH LAST 5 PURCHASES</h4>
              {% endfor %}
            </div>
            <div class="card">
              <div class="table-responsive">
                <table class="table-sm">
                  <thead>
                    <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">UofM</th>
                      <th scope="col">COST/LB</th>
                      <th scope="col">9oz COST</th>
                      <th scope="col">SUG. PRICE 32%</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for v in feature %}
                      {% if v.count != 0 %}
                        <tr>
                          <th scope="row">{{ v.date }}</th>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ v.UofM }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format(v.cost/v.count) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">{{ "${:,.2f}".format((v.cost/v.count)*(0.5625)) }}</p>
                          </td>
                          <td>
                            <p class="mb-0 ms-1 text-begin">${{ (((v.cost/v.count)*(0.5625)/0.32) | round) - 0.05 }}</p>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div><!-- row -->
        <div class="col-xl-3 col-lg-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header bg-secondary pb-0" style="text-align:center">
              <h4>POTATO LOADING CHART</h4>
            </div>
            <div class="card">
              {% for x in fiscal_dates %}
              <p class="mb-0 ms-1 text-center"></p>
              {% endfor %}
              <form method="POST" action="" style="text-align:center">
                <h6>Click Submit to generate a potato loading chart</h6>
                {{ form4.hidden_tag() }}
                <div class="form-group">
                  {{ form4.submit4(class="btn btn-info") }}
                </div>
              </form>
            </div>
          </div>
        </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["W", "T", "F", "S", "S", "M", "T"],
        datasets: [{
          label: "Daily Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: {{ values1 | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ values1_ly | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
              color: "#fff",
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "bar",
      data: {
        labels: ["W1", "W2", "W3", "W4"],
        datasets: [{
          label: "Weekly Sales",
          tension: 0.4,
          borderWidth: 0,
          backgroundcolor: "rgba(255, 255, 255, .8)",
          pointradius: 5,
          pointbackgroundcolor: "rgba(255, 255, 255, .8)",
          pointbordercolor: "transparent",
          bordercolor: "rgba(255, 255, 255, .8)",
          bordercolor: "rgba(255, 255, 255, .8)",
          borderwidth: 4,
          fill: true,
          data: {{ values2 | safe }},
          maxbarthickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderwidth: 0,
          pointradius: 5,
          pointbackgroundcolor: "rgba(255, 255, 255, .8)",
          pointbordercolor: "transparent",
          bordercolor: "rgba(255, 255, 255, .8)",
          bordercolor: "rgba(255, 255, 255, .8)",
          borderwidth: 4,
          type: "bar",
          backgroundcolor: "transparent",
          fill: true,
          data: {{ values2_ly | safe }},
          maxbarthickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10", "P11", "P12", "P13"],
        datasets: [{
          label: "Period Sales",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ values3 | safe }},
          maxBarThickness: 6
        }, {
          label: "Last Year",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(200, 200, 200, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(200, 200, 200, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ values3_ly | safe }},
          maxBarThickness: 6
        }, {
          label: "budget",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(100, 100, 100, 1)",
          pointBorderColor: "transparent",
          borderColor: "rgba(100, 100, 100, 1)",
          borderWidth: 4,
          type: "line",
          backgroundColor: "transparent",
          fill: true,
          data: {{ budgets3 | safe }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              // Abbreviate the thousands
              callback: function(value, index, values) {
                return value / 1e3 + ' T';
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}
