{% extends "layouts/base.html" %}

{% block title %} Support {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <!-- user table -->
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card h-100">
        <div class="card-header bg-primary pb-0">
          <h4>TOP USER LIST</h4>
          <h6>Top 10 Users</h6>
        </div>
        <div class="card">
          <table class="table-responsive table-md">
            <thead>
              <tr>
                <th scope="col">USER</th>
                <th scope="col">AVG LOGINS/PERIOD</th>
              </tr>
            </thead>
            <tbody>
                {% for k, v in top_users.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.email }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.avg_login }}</p>
                        </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- missing user table -->
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card h-100">
        <div class="card-header bg-primary pb-0">
          <h4>NO LOGIN LIST</h4>
          <h6>User has never Logged in</h6>
        </div>
        <div class="card">
          <table class="table-responsive table-md">
            <thead>
              <tr>
                <th scope="col">USER</th>
                <th scope="col">ACTIVATION</th>
              </tr>
            </thead>
            <tbody>
                {% for k, v in no_login.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.email }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.confirmed_at }}</p>
                        </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- DO NOT USE -->
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card h-100">
        <div class="card-header bg-primary pb-0">
          <h4>LAPSED USERS</h4>
          <h6>Haven't logged in past 30 days</h6>
        </div>
        <div class="card">
          <table class="table-responsive table-md">
            <thead>
              <tr>
                <th scope="col">USER</th>
                <th scope="col">LAST LOGIN</th>
              </tr>
            </thead>
            <tbody>
                {% for k, v in lapsed_users.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.email }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.last_login_at }}</p>
                        </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- DO NOT USE -->
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card h-100">
        <div class="card-header bg-primary pb-0">
          <h4>DO NOT USE</h4>
          <h6>Old items still on inventory templates</h6>
        </div>
        <div class="card">
          <table class="table-responsive table-md">
            <thead>
              <tr>
                <th scope="col">STORE</th>
                <th scope="col">ITEM</th>
              </tr>
            </thead>
            <tbody>
                {% for k, v in do_not_use.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.menuitem }}</p>
                        </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'includes/footer.html' %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}  
<script src="/static/assets/js/plugins/progress.js"></script>
{% endblock javascripts %}
