{% extends "layouts/base.html" %}

{% block title %} Support {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row mt-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header bg-danger pb-0">
              <h4>MANUAL SALES UPDATE</h4>
            </div>
            <div class="card">
              {% for x in fiscal_dates %}
              CURRENT DATE: {{ x.date }}
              {% endfor %}
              <form method="POST" action="" style="text-align:center">
                {{ form2.hidden_tag() }}
                <fieldset id="" class="form-group mb-1">
                  <div class="form-group mb-1">
                    {{ form2.selectdate.label(class="form=control-label") }}
                    {% if form2.selectdate.errors %}
                        {{ form2.selectdate(class="form=control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form2.selectdate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.selectdate(class="form=control form-control-md") }}
                    {% endif %}
                  </div>
                </fieldset>
                <div class="form-group">
                  {{ form2.submit2(class="btn btn-info") }}
                </div>
                <div class="progress">
                  <div id="progressbar" class="progress-bar " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="0%">0%</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header bg-info pb-0">
              <h4>RECIPE COST UPDATE</h4>
            </div>
            <div class="card">
              <form method="POST" action="" style="text-align:center">
                {{ form5.hidden_tag() }}
                <fieldset id="" class="form-group mb-1">
                  <div class="form-group mb-1">
                  </div>
                </fieldset>
                <div class="form-group">
                  {{ form5.submit5(class="btn btn-info") }}
                </div>
                <div class="progress">
                  <div id="progressbar" class="progress-bar " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="0%">0%</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <!-- unassigned sales Cards -->
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header bg-primary pb-0">
              {% for x in fiscal_dates %}
              <h4>UNASSIGNED SALES</h4>
              <h4>{{ x.day }}, {{ x.date }}</h4>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE-NAME-CATEGORY</th>
                    <th scope="col">COUNT</th>
                    <th scope="col">SALES</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in unassigned_sales.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }} - {{ v.menuitem }} - {{ v.category }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "{:,.0f}".format(v.quantity) }}</p>
                        </td>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ "${:,.0f}".format(v.amount) }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- DO NOT USE -->
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header bg-primary pb-0">
              {% for x in fiscal_dates %}
              <h4>DO NOT USE ITEMS BEING USED</h4>
              <h4>Period {{ x.period }} Week {{ x.week }}</h4>
              {% endfor %}
            </div>
            <div class="card">
              <table class="table-responsive table-md">
                <thead>
                  <tr>
                    <th scope="col">STORE</th>
                    <th scope="col">ITEM</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in do_not_use.iterrows() %}
                    <tr>
                      <th scope="row">{{ v.store }}</th>
                        <td>
                          <p class="mb-0 ms-1 text-begin">{{ v.menuitem }}</p>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}  
<script src="/static/assets/js/plugins/progress.js"></script>
{% endblock javascripts %}
